div {
    border-style:solid;
    border-width:3px;
    border-color:green;
    padding:30px;
}

.container {
    border-color: blue;
}

.row {
    border-color: red; 
}

.list-group-item {
   border: 0;
   margin-top: 30px;
   margin-bottom: 30px;
}